@font-face {
    font-family: Sonder;
    src: url(fonts/SonderSlab-BlackRough.otf);
}

@font-face {
    font-family: Mermaid1001;
    src: url(fonts/Mermaid1001.ttf);
}
@font-face {
    font-family: Marcellus;
    src: url(fonts/Marcellus/Marcellus-Regular.ttf);
}
html,body{
    overflow-x: hidden;
    width: 100%;
}
body {
    margin: 0px;
    scroll-behavior: smooth;
}

nav h2 {
    display: inline;
    margin-left: 3em;
    color: white;
    font-family: Marcellus;
}

section {
    display: inline;
    float: right;
}

#menu_btn {
    color: white;
    padding: 0.5em;
    font-size: 24px;
    position: absolute;
    top: 0.34em;
    left: 0.7em;
}

nav {
    padding: 2em;
    background-color: #DB8A74;
    position: fixed;
    width: 100%;
    z-index: 1;
}

#menu_btn:hover {
    color: #333;
}

.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */

    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
    z-index: 3;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: Marcellus;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

main * {
    margin: 0px;
}

main p{
    padding-top: 3em;
    padding-left: 2em;
}

footer {
    text-align: center;
    position: relative;
    width: 100%;
    background-color: #333;
    color: white;
}

footer p {
    margin: 0px;
    padding: 1em;

}

video {
    position: absolute;
    top: 0;
    left: 0;
    /** Simulationg background-size: cover */
    object-fit: cover;
    height: 100%;
    width: 100%;

}

.video-wrapper {
    /* Telling our absolute positioned video to 
    be relative to this element */
    position: relative;

    width: 100%;
    height: 100vh;

    /* Will not allow the video to overflow the 
    container */
    overflow: hidden;

    /* Centering the container's content vertically 
    and horizontally */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main_title {
    position: absolute;
    top: 15em;
    left: 3em;
}

#main_title h1,
#main_title h2 {
    font-size: 9em;
    color: white;
    font-family: Mermaid1001;
    text-shadow: 4px 6px black;
}

#main_title h2 {
    margin-top: -0.3em;
}

#desc_text {
    position: absolute;
    top: 35rem;
    left: 3em;
}

#p1,
#p2 {
    font-size: 1.3em;
    color: white;
    font-family: Sonder;
    padding: 0;
    text-shadow: 2px 2px black;
}
@media screen and (min-width:320px) {

    #main_title h1,
    #main_title h2 {
        font-size: 4em;
        color: white;
        font-family: Mermaid1001;
        text-shadow: 4px 6px black;
        text-align: left;
    }
    #main_title {
        position: absolute;
        top: 14em;
        left: 1.5em;
        text-align: center;
    }
    #desc_text {
        position: absolute;
        top: 28rem;
        left: 2em;
    }
    body, html{
        overflow-x: hidden;
    }
}

@media screen and (min-width:1024px) {

    #main_title h1,
    #main_title h2 {
        font-size: 10em;
        color: white;
        font-family: Mermaid1001;
        text-shadow: 4px 6px black;
    }

    #main_title {
        position: absolute;
        top: 14em;
        left: 5em;
    }

    #desc_text {
        position: absolute;
        top: 35rem;
        left: 5.5em;
    }

}

@media screen and (min-width:1440px) {

    #main_title h1,
    #main_title h2 {
        font-size: 9em;
        color: white;
        font-family: Mermaid1001;
        text-shadow: 4px 6px black;
    }
    #main_title {
        position: absolute;
        top: 18em;
        left: 3em;
    }
    #desc_text {
        position: absolute;
        top: 38rem;
        left: 3em;
    }
}

/* Page About*/ 
#text_container{
    position: absolute;
    height: 60%;
    width: 70%;
    top: 30%;
    left: 15%;
    background-color: rgba(255, 255, 255, 0.4);
}
#about_title{
    color: white;
    text-align: center;
    margin-top: 5% ;
}