/*FONTS*/
@font-face {
    font-family: Oui;
    src: url(fonts/be8f6b2e-f810-4ba8-9721-1013cd317db7.woff);
  }
  @font-face {
    font-family: Metropolis;
    src: url(https://cdn.glitch.global/b5a68828-18c9-4146-bdce-63160433064d/Metropolis1920-Regular.otf?v=1662318781411);
  }
  @font-face {
    font-family: Geotica;
    src: url(https://cdn.glitch.global/b5a68828-18c9-4146-bdce-63160433064d/Geotica_Three-webfont.woff?v=1662318807039);
  }
  
  /* HEADING PART */
  #heading {
    background: url(https://cdn.glitch.global/b5a68828-18c9-4146-bdce-63160433064d/2Z0i4tW.jpeg?v=1662317757099)
      no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    margin: 0px;
    padding: 0px;
  }
  #menu {
    height: 8vh;
    width: 100%;
    background-color: #494f50;
    opacity: 0.8;
  }
  #menu_btn {
    height: 6vh;
    width: 6vh;
    margin-top: 1vh;
    margin-left: 1vh;
  }
  #lign1 {
    border: 5px solid white;
    width: 10px;
  }
  /* MAIN PART*/
  #main {
    height: 100vh;
  }
  
  /* GENERAL */
  h1 {
    width: auto;
    text-align: center;
    font-size: 8em;
    margin-top: 0px;
    padding-top: 13%;
    font-family: Metropolis;
  }
  h2 {
    width: auto;
    text-align: center;
    font-size: 2em;
    padding-top: 1em;
    font-family: Geotica;
  }
  body {
    margin: 0px;
  }
  html {
    margin: 0px;
    padding: 0px;
  }
  p {
    margin: 0px;
    padding: 0px;
    height: auto;
    text-align: center;
    font-family: Geotica;
  }
  